<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit/编辑</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>
    <link rel="stylesheet/less" type="text/css" href="{{ static('css/PartialMD.less') }}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>

</head>
<body style="height: 100%;">
{#<main>#}
{#    <div style="height: 100vh;width: 100%;display:flex;flex-direction:column;">#}
        <form action="" style="height: 100%">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="material-part" style="width: 100%;min-height: 45px;">
                <div class="row" style="display: flex">
                    <div class="col m4">
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="title" name="title" maxlength="50" class="materialize-textarea"></textarea>
                            <label for="title">标题</label>
                        </div>
                    </div>
                    <div class="col  m6">
                        <div class="input-field">
                            <textarea id="summary" name="summary" maxlength="200" class="materialize-textarea"></textarea>
                            <label for="summary">简介</label>
                        </div>
                    </div>
                    <div class="col m2  valign-wrapper" style="">
                        <button class="btn waves-effect waves-light" style="" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
            <div style="margin: 0 1%;flex: 1;min-height: 610px">
{#                <div style="align-content: center;height: 100%">#}
                    <style scoped>
                        @import "{{ static('editormd/css/editormd.css') }}";
                    </style>
                <div id="test-editor" style="height:100%;">
                    <textarea style="display:none;">
                        ### 关于 Editor.md
                        **Editor.md** 是一款开源的、可嵌入的 Markdown 在线编辑器（组件），基于 CodeMirror、jQuery 和 Marked 构建。
                    </textarea>
                </div>
{#                </div>#}

            </div>
        </form>
{#    </div>#}
{#</main>#}
<script src="{{ static('editormd/editormd.min.js') }}"></script>
<script src="{{ static('js/materialize.js') }}"></script>
<script type="text/javascript">
    $(function () {
        var editor = editormd("test-editor", {
            width: "100%",
            height: "80%",
            autoHeight: false,
            path: "{{ static('editormd/lib/') }}",

        });
    });
</script>
</body>
</html>
