<footer class="section teal  white-text center">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>感谢来访</h4>
                    <p>可以通过以下链接关注我哦</p>
                    <a href="//github.com/Noob-I-Am" target="_blank" class="white-text">
                        <i class="fab fa-github fa-4x"></i>
                    </a>
                    <a href="//space.bilibili.com/7140999" target="_blank" class="white-text">
                        <i class="fab fa-4x local-svg">
                            <img style="max-height: 1em; max-width: 1em;"
                                 src="{{ static('images/svg/vector-bilibili.svg') }}" alt="">
                        </i>
                    </a>
                    <a href="//weibo.com/u/2164079684" class="white-text" target="_blank">
                        <i class="fab fa-weibo fa-4x"></i>
                    </a>
                    <p class="flow-text">SQ D &copy; 2019 </p>
                </div>
            </div>
        </div>
    </footer>